//font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
//color
$primaryColor: rgb(245, 0, 51);
$hoverColor: #cd3333;
$linkColor : rgb(184, 51, 51);

body{
    &::before{
        content: '';
        background-image: url('../img/background.png');
        background-position: top left;
        background-size: 101vmax;
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.8;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @media screen and (max-width: 991px) {
            text-align: center;
            opacity: 0.3;
        }
    }
    font-family: 'Bebas Neue', cursive;
}

nav{
    margin-top: 1rem;
}

.navbar-light {
    background-color: #f8f9fa00;
}

.navbar .navbar-brand{
    color: $primaryColor;
    font-size: 1.5em;
    font-weight: 700;
    &:hover{
        color: $hoverColor;
    }
    img{
        width: 23px;
        height: 30px;
    }
}

.nav-item{
    margin-left: 2vw;
    margin-right: 2vw;
    @media screen and (min-width: 391px) and (max-width: 530px) {
        background-color: #cd33332e;
    }
}

.navbar-light .navbar-nav .nav-link.active{
    color: $linkColor;
    border-top: 2px solid;
    border-bottom: 2px solid;
    @media screen and (min-width: 391px) and (max-width: 530px) {
        color: #000;
    }
}

.navbar-light .navbar-nav .nav-link{
    &:hover{
        color: $hoverColor;
        border-top: 2px solid;
        border-bottom: 2px solid;  
    }
    color: $linkColor;
    border-top: 2px solid #b8333300;
    border-bottom: 2px solid #b8333300;
    @media screen and (min-width: 391px) and (max-width: 530px) {
        color: #000;
    }
}

#brand{
    h1{
        color: $hoverColor;
        font-size: 8.5em;
        font-weight: 700;
        margin-top: 8rem;
        @media screen and (max-width: 991px) {
            margin-top: 5rem;
            text-align: center;
        }
        @media screen and (max-width: 390px) {
            font-size: 4.5em;
        }
    }
    h2{
        color: #e83355;
        font-size: 3.5em;
        font-weight: 500;
        margin-bottom: -1.5rem;
        @media screen and (max-width: 390px) {
            font-size: 2.5em;
            margin-bottom: -1rem;
        }
        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }
}

#title{
    @media screen and (max-width: 991px) {
        text-align: center!important;
    }
    p{
        margin-top: 3rem;
        font-family: 'Open Sans';
    }
    a{
        padding-left: 50px;
        padding-right: 50px;
    }
}